<div class="container-select">
    <span class="material-symbols-outlined">
        unfold_more
    </span>
    <div (click)="updateDrop()" [classList]="classList()" [formControl]="formcontrolName()"  [ngClass]="{'selected-div': dropdownIsOpen()}">
       <!-- <p> -->{{ selectedOption().name || '' }}<!-- </p> -->
        <ul class="options" [ngClass]="{'open': dropdownIsOpen()}">
            @for (item of options(); track item) {
            <li (click)="selectedOption.set(item)">
                {{ item.name }}
            </li>
            }   
        </ul>
    </div>
</div>
